body {
  font-family: helvetica;
  background-color:#fafafa;
  margin-top: 50px;
}


header#main {

  position:fixed;
  height: 40px;
  line-height:40px;
  text-align: center;
  margin: auto;
  background-color: rgba(140,140,140,0.4);
  width: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  text-transform: lowercase;
  letter-spacing: -1px;
  a {
    text-decoration: none;
  }
  .forkit {
    position: absolute;
    right:10px;
    top: 0px;
  }	
}  
  

.widget {
  z-index: 0;
  width: 28%;
  float: left;
  margin: 1%;
  padding: 1%;
  border:1px solid #ccc;
  background-color: #fff;
  overflow: hidden;
  .github {
    height: 432px;
    .activity {
      font-size: 85%;
      margin-left: 0;
      padding-left: 1em;
      text-indent: -1em;
      list-style: none;
      li {
        line-height: 1.4em;
      }
      .user { 
        font-style: italic;
        color: #9999ff;
      }
      .repo { 
        font-family: Courier;
        color: #444444;
      }

    }
  }
  .img {
    max-width: 90%;
    height: 400px;
    margin: auto;
    text-align:center;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  header {
    position: relative;
    h1 {
      font-size: 120%;
      text-align: center;
      margin: 5px auto 10px;
    }
  }
  .square {
    header {
      color: blue;
    }
  }
  .sine {
    header {
      color: purple;
    }
  }
  .random {
    header {
      color: #229;
    }
  }
  .triangle {
    header {
      color: #f29;
    }
  }
}

.layoutless {
  position: absolute;
  right: 0;
  top:0;
  z-index: 1;
  text-decoration: none;
  font-weight: bold;
  display: none;
  #main & {
    display: block;
  }
}
